<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sigmar&display=swap" rel="stylesheet">

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-2 text-center ms-3">
            <a (click)="filter('')"  style="text-decoration: none;">
                <img src="https://i.postimg.cc/q7LJM0B8/download.jpg" style="width: 200px;height: 200px;border-radius: 160px;" alt="">
                <h2 style="color: rgb(245, 74, 102);font-family: 'Pacifico', cursive;">All Products</h2>
            </a>
        </div>
        <div class="col-2 text-center ms-5">
            <a (click)="filter(1)" style="text-decoration: none;">
                <img src="https://i.postimg.cc/Z5nFLY2q/images-9.jpg" style="width: 200px;height: 200px;border-radius: 160px;" alt="">
                <h2 style="color: rgb(245, 74, 102);font-family: 'Pacifico', cursive;">Backbags</h2>
            </a>
        </div>
        <div class="col-2 text-center ms-5">
            <a (click)="filter(2)"  style="text-decoration: none;">
                <img src="https://i.postimg.cc/4dHXvcb1/images-2.jpg" style="width: 200px;height: 200px;border-radius: 160px;" alt="">
                <h2 style="color: rgb(245, 74, 102);font-family: 'Pacifico', cursive;">Tote</h2>
            </a>
        </div>
        <div class="col-2 text-center ms-5">
            <a (click)="filter(3)"  style="text-decoration: none;">
                <img src="https://i.postimg.cc/6q6G5YNQ/download-7.jpg" style="width: 200px;height: 200px;border-radius: 160px;" alt="">
                <h2 style="color: rgb(245, 74, 102);font-family: 'Pacifico', cursive;">Laptop Bags</h2>
            </a>
        </div>
        <div class="col-2 text-center ms-5">
            <a (click)="filter(4)"  style="text-decoration: none;">
                <img src="https://i.postimg.cc/gJ7Pn2C6/download-3.jpg" style="width: 200px;height: 200px;border-radius: 160px;" alt="">
                <h2 style="color: rgb(245, 74, 102);font-family: 'Pacifico', cursive;">Slings & Wallets</h2>
            </a>
        </div>
    </div>
    
</div>


<!-- Section-->
<section class="">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let i of filterCategory | filter : searchString:'productName'">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 350px;" class="card-img-top" src="{{i.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <!-- Product price-->
                            {{i.price}} Rs
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="view-product/{{i.id}}">View</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>